
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Roboto+Mono:wght@400;600&display=swap');

body {
      margin: 0;
      height: 100vh;

      background-image: url("/PROJACT/IMG/JavaScript\ Fundamentals\ Mini\ Apps\ bg.png");
      background-size: cover;      
      background-position: center; 
      background-repeat: no-repeat;
    }
.navbar{
      background-color: rgb(32, 31, 31);
    height: 80px;
   
}

p{
   color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 40px;
    font-size: 40px;
}
p::first-letter{
    color: chartreuse;
    font-size: 45px;
}


.back{

    margin-right: 50px;
   width: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.back:hover{
 transform: scale(1.08);
}
.logo{
    width: 70px;
}

.clock_frame{

    width: 1020px;
    margin-left: 300px;
    top: 160px;
    position: absolute;
  
}

.box{
position: relative;
 margin-left: 580px;
 margin-top: 250px;
}


#clock {
  font-family: 'Bitcount Single', monospace;
  font-size: 54px;
  letter-spacing: 20px;
  color: #fff;
 
}
