 body {
     margin: 0;
     height: 100vh;

     background-image: url("/PROJACT/IMG/JavaScript\ Fundamentals\ Mini\ Apps\ bg.png");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 .navbar {
     background-color: rgb(32, 31, 31);
     height: 80px;

 }

 .back {
     margin-right: 230px;
 }

 .title {
     color: white;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     margin-left: 40px;
     font-size: 40px;
 }

 .title::first-letter {
     color: chartreuse;
 }

 .form_div {
     width: 380px;
     height: 560px;
     margin-left: 160px;
     margin-top: 50px;
     background-color: white;
     padding: 20px;
     border-radius: 50px;
     box-shadow: 0 0 10px rgb(0, 0, 0);
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .data_table {

     margin-left: 750px;
     margin-top: -570px;

 }

 p {
     color: black;
 }

 .back {

     margin-right: 50px;
     width: 50px;
     transition: 0.3s;
     cursor: pointer;
 }

 .back:hover {
     transform: scale(1.08);
 }

 .logo {
     width: 40px;
 }

 #name_output,
 #age_output,
 #phoneNumber_output,
 #email_output,
 #Organization_output {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: rgb(163, 59, 7);

 }

 #name_output {
     position: absolute;
     left: 720px;
     top: 375px;
      font-size: 25px;
      color: black;

 }
 #name_output::first-letter{
    color: dodgerblue;
 }

#age_output {
     position: absolute;
     left: 760px;
     top: 465px;
      font-size: 14px;
      color: black;
 }
#phoneNumber_output{
     position: absolute;
    left: 760px;
     top: 490px;
    font-size: 14px;
    color: black;
 }

#email_output{
    position: absolute;
       left: 760px;
     top: 515px;
    font-size: 14px;
    color: black;
}
#Organization_output{
    position: absolute;
      left: 1070px;
     top: 170px;
     font-size: 48px;
     color: orange;
}
#Organization_output::first-letter{
    color: black;
    font-size:65px ;
}
 #photoPreview {
     width: 150px;
     height: 180px;
     border: 2px solid black;
     position: absolute;
     left: 725px;
     top: 180px;
 }

 .img_body {
     margin-left: 290px;
 }

 .name {
     margin-top: -160px;
     
 }

 .idcard {
      margin-left: -400px;
     width: 320px;

 }
.idcard_back{
     margin-left: 50px;
     width: 320px;
}