 body {
      margin: 0;
      height: 100vh;

      background-image: url("/PROJACT/IMG/JavaScript\ Fundamentals\ Mini\ Apps\ bg.png");
      background-size: cover;      
      background-position: center; 
      background-repeat: no-repeat;
    }
.navbar{
  background: #222;
  padding: 15px 20px;
  height: 100px;
}


.list_itam{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;

 
}

.a{
margin-top: -20px;
    width: 250px;
    margin-left: -50px;
 transition: 0.3s;
 
}
.a:hover{
  transform: scale(1.08);
}
.b{
    margin-top: -20;
    width: 190px;
    margin-left: -40px;
     transition: 0.3s;
   
}
.b:hover{
 transform: scale(1.08);
}
.c{
    margin-bottom: 10px;
    margin-left: -30px;
    width: 230px;
     transition: 0.3s;
}
.c:hover{
 transform: scale(1.08);
}
.d{
     width: 360px;
     margin-left: -40px;
      transition: 0.3s;
}

.d:hover{
     transform: scale(1.08);
}




.mainimg{
    padding: -4px;
    position: relative;
    margin-left: 750px;
    margin-top: 50px;

}
.heading{
    position: absolute;
    top:  52%;
    margin-left: 200px;
    font-size: 50px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
   transition: 0.3s;
}
.heading:hover{
    transform: scale(1.08);
}
.FundamentalsMiniApps{
    color: black;
}
